<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>saved SVF image</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" href="{% static "mainsite/css/main.css" %}" />
<h2>Selected image</h2>
<img src="{% static "mainsite/png/dj2.png" %}?r=80172489074" style="width: 50%;height: 50%">
<h2> The SVF percentage for this image is </h2>
<p> {{ image.svf }} </p>
</body>
</html>