<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Map Page</title>
</head>
{% load static %}
<body>
<link rel="stylesheet" href="{% static "mainsite/css/main.css" %}" />

<script src = {% static "mainsite/js/map.js" %}></script>
<div style="text-align: center;">
<h2>Pick a place!</h2>
<p>Instruction:</p>
<p>Click on the map to place a marker</p>
<p>Click on the marker again to see the details</p>
<p>Right click the marker to remove it</p>
<p></p>
    <a href="{% url 'display_all_grid' %}" class="button alt">Click here to view all visited locations</a>
<p></p>
</div>
<div id="googleMap" style="width:800px;height:400px;margin:0 auto;"></div>
<script src= "https://maps.googleapis.com/maps/api/js?key={{ apikey }}&callback=myMap" ></script>

</body>
</html>