<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Home</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        {% load static %}
		<link rel="stylesheet" href="{% static "mainsite/css/main.css" %}" />
	</head>
	<body>


		<!-- Banner -->
			<section class="banner full">
				<article>
					<img src="{% static "mainsite/png/style_image/slide01.jpg" %}" alt="" />
					<div class="inner">
						<header>
							<h2>Tool 1:</h2>
							<h3>Get streetview image from the Google Map</h3>
                            <a href="{% url 'map' %}" class="button">Enter the tool</a>
						</header>
					</div>
				</article>
				<article>
					<img src="{% static "mainsite/png/style_image/slide02.jpg" %}" alt="" />
					<div class="inner">
						<header>
							<h2>Tool 2:</h2>
							<h3>Mark different objects on a satellite image</h3>
                            <a href="{% url 'marking_satellite' %}" class="button">Enter the tool</a>
						</header>
					</div>
				</article>
			</section>
		<!-- One -->
			<section id="one" class="wrapper style2">

				<div class="inner">
					<div class="grid-style">
                                <h2>Some info about the tools...</h2>

						<div>
							<div class="box">
								<div class="image fit">
									<img src="{% static "mainsite/png/style_image/pic02.jpg" %}" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<h2>Search and mark a SVF picture</h2>
									</header>
									<p> The first step is to select a location on the google map UI. If the location has never been selected previously,
                                        the web server will retrieve the images at that location and stitch them together into a panorama image,
                                        then save it as the “original unmarked image” to the database(if the location has been selected, the image will be retrieved from the local database).
                                        Then the marking UI will appear to let the user mark the where is sky is on the image, the UI has other basic utilities like: redo, auto-complete.
                                        Once the picture is marked, the image will be saved to the database for that location, and the percentage of sky will be displayed.</p>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src="{% static "mainsite/png/style_image/pic03.jpg" %}" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<h2>Upload and mark a satellite picture</h2>
									</header>
									<p> Marking different objects on an image applies to satellite image(instead of google street view image).
                                        Therefore, the user has to supply the image himself by using the upload button. Once the image is uploaded,
                                        the user can select the type of object to mark. During the marking process, the user can undo the last step;
                                        can draw/remove a N*N grid on the image. Once the marking is finished,
                                        the system will generate a report on the percentage of area of each object comparing to the whole image.
                                        Also, depending on the size of the grid(N) chosen, the report will include a percentage breakdown for each object in each grid. </p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>



		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					&copy; Website created by Jingcheng Wang. All rights reserved.
                    <p>credit to https://templated.co/hielo for the styling template<p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static "mainsite/js/style_js/jquery.min.js" %}"></script>
			<script src="{% static "mainsite/js/style_js/jquery.scrollex.min.js" %}"></script>
			<script src="{% static "mainsite/js/style_js/skel.min.js"%}"></script>
			<script src="{% static "mainsite/js/style_js/util.js"%}"></script>
			<script src="{% static "mainsite/js/style_js/main.js"%}"></script>

	</body>
</html>
