<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <script type='text/javascript' src='http://code.jquery.com/jquery-latest.min.js'></script>
      {% load static %}
      <script type='text/javascript' src="{% static "mainsite/js/crop_sky.js" %}"></script>
      <style>
       canvas { box-shadow: 0 0 10px black; margin: 20px; }​
          </style>
          

  </head>
  <body>
  {% load static %}
  <link rel="stylesheet" href="{% static "mainsite/css/main.css" %}" />
  <table>
  <tr>
  <td>
      <h2>Here is the image you selected for cropping</h2>
      <p>Click on the image sequential points forming the shape to be cropped and click on CROP button.
          <br/> The auto-complete button can be toggled on and off, auto-complete on means the cropper will select the corners for you
          <br/> Press redo to start
      </p>
    <input type="button" id="crop" value="Crop" />
    <input type="button" id="auto_button" value="AUTO_COMPLETE_ON"/>
      <input type="button" id="refresh_button" value="Refresh"/>

    <div id="container">
<canvas width={{ width }} height={{ height }} id="myCanvas" style="position:relative;margin-left:0px;margin-top:0px;"></canvas>
    </div>
<div id="png" style="display:block;"></div>
      <form action = {% url 'processSVF' %} method = 'POST'>
      <input type="submit" value="Generate SVF Report" />
      <input type="hidden" name="hidden_image_field" id="hidden_image_field"> <!--Post the image data to the server -->
      <input type="hidden" name="lat" value={{ lat }}/>
      <input type="hidden" name="lng" value={{ lng }}/>
      {% csrf_token %}
      </form>
<div id="oldposx" style="display:none;"></div>
<div id="oldposy" style="display:none;"></div>
<div id="posx" style="display:none;"></div>
<div id="posy" style="display:none;"></div>
</td><td>

</td>
</tr>
</table>
  </body>
</html>
