<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <script type='text/javascript' src='http://code.jquery.com/jquery-latest.min.js'></script>
      {% load static %}
      <script type='text/javascript' src="{% static "mainsite/js/mark_sat.js" %}"></script><!--the query string is a hack to prevent cache-->
      <style>
       canvas { box-shadow: 0 0 10px black; margin: 20px; }​
          </style>


  </head>
  <body>
  <link rel="stylesheet" href="{% static "mainsite/css/main.css" %}" />
  <table>
  <tr>
  <td>
      <h2>here you can mark different object on a satellite image</h2>
      <p>Click on the image sequential points forming the shape to be cropped and click on CROP button.<br/> Refresh to restart.</p>
      <input type="button" id="crop" value="Mark"/>
      <input type="button" id="refresh_button" value="Refresh"/>
      <input type="button" id="undo_button" value="Undo Last Action"/>

    <div id="container">
<canvas width={{ width }} height={{ height }} id="myCanvas" style="position:relative;margin-left:0px;margin-top:0px;"></canvas>
    </div>


<div id="png" style="display:block;"></div>
      <div id="upload">
    <h2>You can also upload your own image here</h2>
  <form action={% url 'marking_satellite' %} method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="uploaded_image">
    <button type="submit">Upload</button>
  </form>
</div>
<div id="oldposx" style="display:none;"></div>
<div id="oldposy" style="display:none;"></div>
<div id="posx" style="display:none;"></div>
<div id="posy" style="display:none;"></div>
</td>

<td>
    <h2>Select the type of object you are marking</h2>
    <select name="color" id="color_selector" style="height: 20px;">
    <option value="red">building(red)</option>
    <option value="blue">road(blue)</option>
    <option value="green">vegetation(green)</option>
    </select>

    <p></p>
    <form action = {% url 'SATReport' %} method = 'POST'>
      <input type="submit" value="Generate Report" />
      <input type="hidden" name="hidden_image_field" id="hidden_image_field"> <!--Post the image data to the server -->
      <input type="hidden" name="hidden_grid_field" id="grid_number" value="5">
      <input type="hidden" name="colour_list" id="colour_list">
      {% csrf_token %}
    </form>
    <h2>Select the size of your grid </h2>
    <select name="color" id="grid_selector" style="height: 20px;">
    <option value="5">5X5</option>
    <option value="10">10X10</option>
    <option value="20">20X20</option>
    <option value="30">30X30</option>
    </select>

    <input type="button" id="grid_button" value="Show Grid"/>
    <input type="button" id="remove_grid_button" value="Remove Grid"/>



</td>
</tr>
</table>
  </body>
</html>
