<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maskout sky result</title>
</head>
<body>
{% load static %}
<h2>Original image</h2>
<img src="{% static "mainsite/png/dj.png" %}?r=8017248907444" style="width: 50%;height: 50%">
<h2>Sky detection result by our model</h2>
<h3>panorama</h3>
<img src="{% static "mainsite/png/dj6.png" %}?r=8017248907444" style="width: 50%;height: 50%">
<h3>12 cubic</h3>
<img src="{% static "mainsite/png/dj5.png" %}?r=8017248907444" style="width: 50%;height: 50%">
</body>
</html>