<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SAT report</title>
</head>
<body>
<h2>Here is the report for the percentage of each object in the satellite image</h2>
{% load static %}
<link rel="stylesheet" href="{% static "mainsite/css/main.css" %}" />

<img src={% static "mainsite/png/dj4.png" %} style="width:400px;height:400px;">
<h3>Building(Red)</h3>
<p>percetage = {{ colour_percentage_dict.Building }} </p>
<h3>Road(blue)</h3>
<p>percetage = {{ colour_percentage_dict.Vegetation }} </p>
<h3>Vegetation(green)</h3>
<p>percetage = {{ colour_percentage_dict.Road }} </p>

<h2>Break down by grid</h2>
{% for item in grid_dict %}
    <p>{{ item }}</p>
{% endfor %}
</body>
</html>