<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Search result</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" href="{% static "mainsite/css/main.css" %}" />
<h2>View Image data for this location</h2>

<h3>Original image</h3>
<img src="{% static "mainsite/png/dj.png" %}?r=8017248907444" style="width: 50%;height: 50%">
<h3>processed image</h3>
<form action = "{% url 'maskout_sky' %}" method="POST">
      <input type="submit" value="Sky detection" />
      <input type="hidden" name="lat" value={{ lat }}/>
      <input type="hidden" name="lng" value={{ lng }}/>
      {% csrf_token %}
</form>
{% if SKY != 0 %}
<h2>You have {{ SKY }} manually marked SVF images</h2>
<form action = {% url 'show_all_SVF' %} method="POST">
      <input type="submit" value="Click to view them" />
      <input type="hidden" name="lat" value={{ lat }}/>
      <input type="hidden" name="lng" value={{ lng }}/>
      {% csrf_token %}
</form>
{% endif %}

{% if SAT != 0 %}
<p>SAT image</p>
<img src={% static "mainsite/png/dj3.png" %} ">
{% endif %}

<h2>Start marking Skies on this image</h2>

<form action = "{% url 'marking_svf' %}" method="POST">
      <input type="submit" value="Start" />
      <input type="hidden" name="lat" value={{ lat }}/>
      <input type="hidden" name="lng" value={{ lng }}/>
      {% csrf_token %}
</form>

</body>
</html>