<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All SVF pictures</title>
</head>
<body>
{% load static %}
  <link rel="stylesheet" href="{% static "mainsite/css/main.css" %}" />
<h2>Here is a list of all the image you saved for this location</h2>
{% for image in all_svf_image %}
    <p></p>
    <a href="{% url 'display_image' image.image_id %}" class="button alt">cropped SVF image created at: {{ image.created_at }}</a>
{% endfor %}
</body>
</html>