<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All SVF pictures</title>
</head>
<body>
{% load static %}
  <link rel="stylesheet" href="{% static "mainsite/css/main.css" %}" />
<h2>Here is a list of all the locations you visited</h2>
{% for grid in all_grids %}
    <p></p>
    <a href="{% url 'search' %}?lat={{ grid.x_coordinate }}&lng={{ grid.y_coordinate }}" class="button alt">location at {{ grid.x_coordinate }},{{ grid.y_coordinate }}</a>
{% endfor %}
</body>
</html>