<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Sky view factor</title>
</head>

<body>
{% load static %}
<link rel="stylesheet" href="{% static "mainsite/css/main.css" %}" />
<h2>The sky view factor for this image is {{ percentage }}</h2>
<p>Original image</p>
{% load static %}
<img src="{% static "mainsite/png/dj.png" %}?r=80172489074" style="width: 50%;height: 50%">

<p>cropped image</p>
<img src="{% static "mainsite/png/dj2.png" %}?r=80172489074" style="width: 50%;height: 50%">
<p></p>
<a href="{% url 'search' %}?lat={{ lat }}&lng={{ lng }}" }>Back to search result</a>

</body>
</html>